﻿<!---
Name:           Peruz Carlsen
Date:           04/12/2010
Description:    This file is used by InsuredPortal.cfc. It will handle all interactions
                with the Insured table.
--->
<cfcomponent name="Insured" output="false">
    <!--- CONSTRUCTOR --->
    <!--<cfscript>
        /* Database variables */
        VARIABLES.database = structNew();
        VARIABLES.database.DSN = "";
        VARIABLES.database.username = "";
        VARIABLES.database.password = "";
        VARIABLES.database.dbName = "";
        /* /Database variables */

        VARIABLES.stColumnData = structNew();
        VARIABLES.qTable = "";
    </cfscript>-->
    <!--- /CONSTRUCTOR --->
    <!--- PUBLIC FUNCTIONS --->
    <cffunction name="init" returntype="Insured" output="false" access="public">
        <cfargument name="_username" type="string" required="true">
            <cfargument name="_password" type="string" required="true">
                <cfargument name="_dbName" type="string" required="false" default="">

                    <cfscript>
                        <!--setDatabaseInfo(ARGUMENTS._username, ARGUMENTS._password, ARGUMENTS._dbName);

                        return this;-->
                    </cfscript>
    </cffunction>

    <cffunction name="lookup" returntype="numeric" output="false" access="public">
        <cfscript>
            var sQuery = "";
            var qQuery = "";
            var sQueryFilter = "";

            if (structKeyExists(VARIABLES.stColumnData, "fname1"))
            sQueryFilter = sQueryFilter & " AND (fname1 = '#VARIABLES.stColumnData.fname1#')";

            if (structKeyExists(VARIABLES.stColumnData, "lname1"))
            sQueryFilter = sQueryFilter & " AND (lname1 = '#VARIABLES.stColumnData.lname1#')";

            if (structKeyExists(VARIABLES.stColumnData, "zip"))
            sQueryFilter = sQueryFilter & " AND (zip = '#VARIABLES.stColumnData.zip#')";

            if (structKeyExists(VARIABLES.stColumnData, "insuredID"))
            sQueryFilter = sQueryFilter & " AND (insuredID = '#VARIABLES.stColumnData.insuredID#')";

            /*
            if (sQueryFilter NEQ "")
            sQueryFilter = "(1 = 0) OR ((1 = 1) " & sQueryFilter & ")";
            else*/
            sQueryFilter = "(1 = 0)";
        </cfscript>

        <cfsavecontent variable="sQuery">
            <cfoutput>
                SELECT *
                FROM #getDatabaseInfo().dbName#Insured
                WHERE #sQueryFilter#
            </cfoutput>
        </cfsavecontent>

        <cfscript>
            qQuery = executeSQL(sQuery);

            if (qQuery.recordCount EQ 1) {
            VARIABLES.qTable = qQuery;
            return qQuery.insuredID;
            }
            else
            return 1;
        </cfscript>
    </cffunction>

    <cffunction name="create" returntype="boolean" output="false" access="public">
        <cfset var squery="">
            <cfset var acolumnnames=ArrayNew(1)>
                <cfset var acolumns=ArrayNew(1)>
                    <cfset var avalues=ArrayNew(1)>
                        <cfset var i=1>

                            <cfscript>
                                aColumnNames = ListToArray("fname1,middle1,lname1,fname2,middle2,lname2,address1,address2,city,state,zip,county,email,phone,coappworkphone,coappemail,howSoon,PrefCoverageLimit");
                                for (i=1;i<=ArrayLen(aColumnNames);i++) {
                                if (StructKeyExists(VARIABLES.stColumnData, aColumnNames[i])) {
                                ArrayAppend(aColumns, aColumnNames[i]);
                                ArrayAppend(aValues, "'#VARIABLES.stColumnData[aColumnNames[i]]#'");
                                }
                                }
                            </cfscript>


                            <cfsavecontent variable="sQuery">
                                <cfoutput>
                                    DECLARE @insuredID INT

                                    <cfif structkeyexists(variables.stcolumndata, "insuredID" )>
                                        SELECT @insuredID = #VARIABLES.stColumnData.insuredID#
                                    </cfif>
                                    <!---
                                    FROM #getDatabaseInfo().dbName#Insured
                                    WHERE insure
                                    <cfloop from="1" to="#arrayLen(aColumnNames)#" index="i">
                                        <cfif structKeyExists(variables.stColumnData, aColumnNames[i])>
                                        AND #aColumnNames[i]# = #iif(structKeyExists(variables.stColumnData, aColumnNames[i]), de(chr(39) & structFind(variables.stColumnData, aColumnNames[i]) & chr(39)), de(aColumnNames[i]))#
                                        </cfif>
                                    </cfloop> --->
                                    IF @insuredID IS NULL
                                    BEGIN
                                    INSERT #getDatabaseInfo().dbName#Insured (#ArrayToList(aColumns)#)
                                    VALUES (#ArrayToList(aValues)#)

                                    SELECT @insuredID = SCOPE_IDENTITY()
                                    END

                                    SELECT *
                                    FROM #getDatabaseInfo().dbName#Insured
                                    WHERE insuredID = @insuredID
                                </cfoutput>
                            </cfsavecontent>

                            <cfscript>
                                VARIABLES.qTable = executeSQL(sQuery);

                                return true;
                            </cfscript>
    </cffunction>


    <cffunction name="load" returntype="query" output="false" access="public">
        <cfargument name="_forceQuery" type="boolean" required="false" default="false">

            <cfset var squery="">

                <cfsavecontent variable="sQuery">
                    <cfoutput>
                        SELECT *
                        FROM #getDatabaseInfo().dbName#Insured
                        WHERE insuredID = #VARIABLES.qTable.insuredID#
                    </cfoutput>
                </cfsavecontent>

                <cfscript>
                    if (ARGUMENTS._forceQuery)
                    VARIABLES.qTable = executeSQL(sQuery);

                    return VARIABLES.qTable;
                </cfscript>
    </cffunction>

    <cffunction name="setField" returntype="void" output="false" access="public">
        <cfargument name="_fieldName" type="string" required="true">
            <cfargument name="_fieldValue" type="any" required="true">

                <cfset setvariable("variables.stcolumndata[arguments._fieldname]", arguments._fieldvalue)>
    </cffunction>

    <cffunction name="getField" returntype="any" output="false" access="public">
        <cfargument name="_fieldName" type="string" required="true">

            <cfscript>
                if (structKeyExists(VARIABLES.stColumnData, ARGUMENTS._fieldName))
                return structFind(VARIABLES.stColumnData, ARGUMENTS._fieldName);
                else
                return "undefined";
            </cfscript>
    </cffunction>

    <cffunction name="getAll" returntype="struct" output="false" access="public">
        <cfreturn variables>
    </cffunction>
    <!--- /PUBLIC FUNCTIONS --->
    <!--- PRIVATE FUNCTIONS --->
    <cffunction name="setDatabaseInfo" returntype="void" output="false" access="private">
        <cfargument name="_username" type="string" required="true">
            <cfargument name="_password" type="string" required="true">
                <cfargument name="_dbName" type="string" required="true">

                    <cfscript>
                        VARIABLES.database.DSN = listFirst(ARGUMENTS._username, "_");
                        VARIABLES.database.username = ARGUMENTS._username;
                        VARIABLES.database.password = ARGUMENTS._password;
                        VARIABLES.database.dbName = ARGUMENTS._dbName;
                    </cfscript>
    </cffunction>

    <cffunction name="getDatabaseInfo" returntype="struct" output="false" access="private">
        <cfreturn variables.database>
    </cffunction>

    <cffunction name="executeSQL" returntype="Any" output="false" access="private">
        <cfargument name="_sQuery" type="string" required="true">

            <cfset var qquery="">

                <cftransaction>
                    <cftry>
                        <cfquery name="qQuery" datasource="#getDatabaseInfo().DSN#"
                                 username="#getDatabaseInfo().username#" password="#getDatabaseInfo().password#">
                            #preserveSingleQuotes(ARGUMENTS._sQuery)#
                        </cfquery>

                        <cftransaction action="commit">

                            <cfcatch type="database">
                                <cftransaction action="rollback">
                                    <cfrethrow>
                            </cfcatch>
                    </cftry>
                </cftransaction>

                <cfscript>
                    if (isDefined("qQuery"))
                    return qQuery;
                </cfscript>
    </cffunction>
    <!--- /PRIVATE FUNCTIONS --->
</cfcomponent>











<!---
Name:           Peruz Carlsen
Date:           04/12/2010
Description:    This file is the start point for importing policy data
                from an insured portal site. This compoinent will utilize
                other system components in order to create the necessary
                records for rating the policy. It will then create a simple
                XML to be returned to the caller.
--->



<cfcomponent output="true">
    <!--- CONSTRUCTOR --->
    <cfscript>

        SADSN = "JupiterMGA";
        SAUsername = "PTS_App";
        SAPassword = "Jup1596357";
        MAINDSN = "JupiterMGA";
        MAINUsername = "PTS_App";
        MAINPassword = "Jup1596357";
        UID="5";

        /* Policy Type Variables */
        VARIABLES.policyType = structNew();
        VARIABLES.policyType.PAuto = 1;
        /* /Policy Type Variables */

        /* Policy Status Variables */
        VARIABLES.policyStatus = structNew();
        VARIABLES.policyStatus.quote = 99;
        /* /Policy Status Variables */

        /* Database variables */
        VARIABLES.database = structNew();
        VARIABLES.database.DSN = "";
        VARIABLES.database.username = "";
        VARIABLES.database.password = "";
        VARIABLES.database.dbName = "";
        /* /Database variables */

        /* IMPORT variables */
        VARIABLES.IMPORT = structNew();
        VARIABLES.IMPORT.xmlPolicyData = "";
        VARIABLES.IMPORT.arrCoveragePackage = arrayNew(1);
        VARIABLES.IMPORT.arrVehicle = arrayNew(1);
        VARIABLES.IMPORT.arrDriver = arrayNew(1);
        /* /IMPORT variables */

        /* OUTPUT variables */
        VARIABLES.OUTPUT = structNew();
        VARIABLES.OUTPUT.arrCoveragePackage = arrayNew(1);
        /* /OUTPUT variables */
    </cfscript>
    <!--- /CONSTRUCTOR --->
    <!--- PUBLIC FUNCTIONS --->
    <cffunction name="getXML" returntype="Any" output="true" access="remote">
        <cfargument name="_username" type="string" required="true">
            <cfargument name="_password" type="string" required="true">
                <cfargument name="_xmlPolicyData" type="string" required="true">

                    <cfscript>
                        setDatabaseInfo(ARGUMENTS._username, ARGUMENTS._password);
                        setImportVar(ARGUMENTS._xmlPolicyData);

                        importData();

                        return generateXML();
                    </cfscript>
    </cffunction>

    <cffunction name="checkRoutingNumber" returntype="Any" output="true" access="remote">
        <cfargument name="_rtn" type="string" required="true">

            <cfquery name="LookupRTN" datasource="JupiterMGA">
                SELECT RoutingNumber, InstitutionName, Address, City, State, ZipCode
                FROM RTNLookup WITH (NOLOCK)
                WHERE RoutingNumber='#_rtn#'
            </cfquery>

            <cfif lookuprtn.recordcount neq 0>
                <cfset validrtn="Y">
                    <cfset bankname="#LookupRTN.InstitutionName#">
                        <cfelse>
                            <cfset validrtn="N">
                                <cfset bankname="INVALID">
            </cfif>

            <cfset returnvar="#validRTN#|#bankName#">

                <cfscript>
                    return returnVAR;
                </cfscript>
    </cffunction>

    <cffunction name="getXML2" returntype="Any" output="false" access="remote">
        <cfargument name="_username" type="string" required="true">
            <cfargument name="_password" type="string" required="true">
                <cfargument name="_xmlPolicyData" type="string" required="true">

                    <cfscript>
                        setDatabaseInfo(ARGUMENTS._username, ARGUMENTS._password);
                        setImportVar(ARGUMENTS._xmlPolicyData);

                        importData();

                        //return generateXML();
                        return VARIABLES.OUTPUT;
                    </cfscript>
    </cffunction>
    <!--- /PUBLIC FUNCTIONS --->
    <!--- PRIVATE FUNCTIONS --->
    <cffunction name="importData" returntype="boolean" output="true" access="private">
        <cfscript>
            var stPackage = structNew();
            var p = 0; var v = 0; var d = 0;
            var sPkgName = "";
            var xmlPkg = "";
            var insuredRecord = "";

            insuredRecord = importInsured();

            for (p = 1; p <= arrayLen(getImportVar().arrCoveragePackage); p = p + 1) {
            /* Package */
            stPackage.index = p;
            stPackage.name = "Package" & stPackage.index;
            stPackage.element = structNew();
            stPackage.xml = getImportVar().arrCoveragePackage[stPackage.index];

            if (isDefined("stPackage.xml.XmlAttributes.id"))
            stPackage.name = stPackage.xml.XmlAttributes.id;

            VARIABLES.OUTPUT.arrCoveragePackage[stPackage.index] = packageNew(stPackage.name, structNew());
            /* /Package */

            /* Insured */
            stPackage.element["Insured"] = arrayNew(1);

            arrayAppend(stPackage.element["Insured"],
            insuredRecord
            );
            /* /Insured */

            /* Policy */
            stPackage.element["Policy"] = arrayNew(1);

            arrayAppend(stPackage.element["Policy"],
            importPolicy(
            _qInsured = stPackage.element["Insured"][arraylen(stPackage.element["Insured"])].load()
            )
            );
            /* /Policy */

            if (listFind("#VARIABLES.policyType.PAuto#", stPackage.element["Policy"][arraylen(stPackage.element["Policy"])].load().policyType)) {
            /* Auto */
            stPackage.element["Auto"] = arrayNew(1);

            arrayAppend(stPackage.element["Auto"],
            importAuto(
            _qPolicy = stPackage.element["Policy"][arraylen(stPackage.element["Policy"])].load(),
            _xmlPackage = stPackage.xml
            )
            );
            /* /Policy */

            /* Vehicle */
            stPackage.element["Vehicle"] = arrayNew(1);

            for (v = 1; v <= arrayLen(getImportVar().arrVehicle); v = v + 1) {
            arrayAppend(stPackage.element["Vehicle"],
            importVehicle(
            _qPolicy = stPackage.element["Policy"][arraylen(stPackage.element["Policy"])].load(),
            _qAuto = stPackage.element["Auto"][arraylen(stPackage.element["Auto"])].load(),
            _xmlVehicle = getImportVar().arrVehicle[v],
            _xmlPackage = stPackage.xml
            )
            );
            }
            /* /Vehicle */

            /* Driver */
            stPackage.element["Driver"] = arrayNew(1);

            for (d = 1; d <= arrayLen(getImportVar().arrDriver); d = d + 1) {
            arrayAppend(stPackage.element["Driver"],
            importDriver(
            _qPolicy = stPackage.element["Policy"][arraylen(stPackage.element["Policy"])].load(),
            _qAuto = stPackage.element["Auto"][arraylen(stPackage.element["Auto"])].load(),
            _xmlDriver = getImportVar().arrDriver[d]
            )
            );
            }
            /* /Driver */
            }


            stPackage.element["Policy"][arraylen(stPackage.element["Policy"])].rate();
            stPackage.element["Policy"][arraylen(stPackage.element["Policy"])].load(true);

            VARIABLES.OUTPUT.arrCoveragePackage[stPackage.index]["detail"] = stPackage.element;
            }

            return true;
        </cfscript>
    </cffunction>

    <cffunction name="importInsured" returntype="any" output="false" access="private">
        <cfscript>
            var oInsured = "";
            var iColumn = "";

            oInsured = createObject("component", "SysObj.Insured")
            .init(
            _username = getDatabaseInfo().username,
            _password = getDatabaseInfo().password,
            _dbName = getDatabaseInfo().dbName
            );

            for (iColumn in getImportVar().xmlPolicyData.policy) {
            if (arrayLen(getImportVar().xmlPolicyData.policy[iColumn].XmlChildren) GT 0)
            continue;

            oInsured.setField(iColumn, getImportVar().xmlPolicyData.policy[iColumn].XmlText);
            }

            if (oInsured.lookup() EQ 1)
            oInsured.create();

            return oInsured;
        </cfscript>
    </cffunction>

    <cffunction name="importPolicy" returntype="any" output="false" access="private">
        <cfargument name="_qInsured" type="query" required="true">

            <cfset companyid=getImportVar().xmlPolicyData.policy["companyID"].XmlText>
                <cfquery name="getPP" datasource="JupiterMGA">
                    SELECT policyProgram
                    FROM SystemPolicyProgram WITH (NOLOCK)
                    WHERE companyID = #companyID#
                </cfquery>

                <cfscript>
                    var oPolicy = "";
                    var iColumn = "";

                    oPolicy = createObject("component", "SysObj.Policy")
                    .init(
                    _username = getDatabaseInfo().username,
                    _password = getDatabaseInfo().password,
                    _dbName = getDatabaseInfo().dbName
                    );

                    for (iColumn in getImportVar().xmlPolicyData.policy) {
                    if (arrayLen(getImportVar().xmlPolicyData.policy[iColumn].XmlChildren) GT 0)
                    continue;

                    oPolicy.setField(iColumn, getImportVar().xmlPolicyData.policy[iColumn].XmlText);
                    }

                    oPolicy.setField("status", VARIABLES.policyStatus.quote);
                    oPolicy.setField("insuredID", ARGUMENTS._qInsured.insuredID);
                    oPolicy.setField("policyNum", 'TBD');
                    oPolicy.setField("imported", 5);
                    oPolicy.setField("isDirect", 1);
                    oPolicy.setField("policyProgram", "#getPP.policyProgram#");

                    if (listFind("#VARIABLES.policyType.PAuto#", oPolicy.getField("policyType"))) {
                    oPolicy.setField("vehicleCount", arrayLen(getImportVar().arrVehicle));
                    oPolicy.setField("SR22DriverCount", arrayLen(xmlSearch(getImportVar().xmlPolicyData, "/policy/drivers/driver[requiresSR22>0]")));
                    }

                    oPolicy.create();

                    return oPolicy;
                </cfscript>
    </cffunction>

    <cffunction name="importAuto" returntype="any" output="false" access="private">
        <cfargument name="_qPolicy" type="query" required="true">
            <cfargument name="_xmlPackage" type="string" required="true">

                <cfscript>
                    var oAuto = "";
                    var iColumn = "";
                    var i = "";

                    oAuto = createObject("component", "SysObj.Auto")
                    .init(
                    _username = getDatabaseInfo().username,
                    _password = getDatabaseInfo().password,
                    _dbName = getDatabaseInfo().dbName
                    );

                    for (iColumn in getImportVar().xmlPolicyData.policy) {
                    if (arrayLen(getImportVar().xmlPolicyData.policy[iColumn].XmlChildren) GT 0)
                    continue;

                    oAuto.setField(iColumn, getImportVar().xmlPolicyData.policy[iColumn].XmlText);

                    if (findNoCase(iColumn, "zip"))
                    oAuto.setField("policyZip", getImportVar().xmlPolicyData.policy[iColumn].XmlText);
                    }

                    for (i = 1; i <= arrayLen(ARGUMENTS._xmlPackage.XmlChildren); i = i + 1)
                    oAuto.setField(ARGUMENTS._xmlPackage.XmlChildren[i].XmlName, ARGUMENTS._xmlPackage.XmlChildren[i].XmlText);

                    oAuto.setField("policyID", ARGUMENTS._qPolicy.policyID);

                    oAuto.create();

                    return oAuto;
                </cfscript>
    </cffunction>

    <cffunction name="importVehicle" returntype="any" output="false" access="private">
        <cfargument name="_qPolicy" type="query" required="true">
            <cfargument name="_qAuto" type="query" required="true">
                <cfargument name="_xmlVehicle" type="string" required="true">
                    <cfargument name="_xmlPackage" type="string" required="true">

                        <cfscript>
                            var oVehicle = "";
                            var iColumn = "";
                            var lstCoverages = ""
                            & "BIEachPerson,useBodilyInjury;"
                            & "PDEachAccident,usePropertyDamage;"
                            & "uninsuredBIEachPerson,useUninsuredBI;"
                            & "uninsuredPDEachAccident,useUninsuredPD;"
                            & "underinsuredBIEachAccident,useUnderinsuredBI;"
                            & "underinsuredPDEachAccident,useUnderinsuredPD;"
                            & "medicalEachPerson,medicalOption;"
                            & "PIPEachPerson,PIPOption;"
                            & "WorkLossEachPerson,useWorkLoss;";
                            var strCovName = "";
                            var strUseCov = "";
                            var i = "";

                            // Create object
                            oVehicle = createObject("component", "SysObj.Vehicle")
                            .init(
                            _username = getDatabaseInfo().username,
                            _password = getDatabaseInfo().password,
                            _dbName = getDatabaseInfo().dbName
                            );

                            // Loop over policy data
                            for (iColumn in getImportVar().xmlPolicyData.policy) {
                            if (arrayLen(getImportVar().xmlPolicyData.policy[iColumn].XmlChildren) GT 0)
                            continue;

                            oVehicle.setField(iColumn, getImportVar().xmlPolicyData.policy[iColumn].XmlText);
                            }

                            // Loop over vehicle data
                            for (i = 1; i <= arrayLen(ARGUMENTS._xmlVehicle.XmlChildren); i = i + 1)
                            {
                            fldName = ARGUMENTS._xmlVehicle.XmlChildren[i].XmlName;
                            if (fldName == "vehSelect")
                            fldName = "bodyType";
                            if (fldName == "symbol_liab")
                            fldName = "liabilitySymbol";
                            if (fldName == "symbol_comp")
                            fldName = "comprehensiveSymbol";
                            if (fldName == "symbol_coll")
                            fldName = "collisionSymbol";

                            oVehicle.setField(fldName, ARGUMENTS._xmlVehicle.XmlChildren[i].XmlText);
                            //            oVehicle.setField(ARGUMENTS._xmlVehicle.XmlChildren[i].XmlName, ARGUMENTS._xmlVehicle.XmlChildren[i].XmlText);
                            }

                            // Loop over coverages
                            for (i = 1; i <= listLen(lstCoverages, ";"); i = i + 1) {
                            strCovName = listFirst(listGetAt(lstCoverages, i, ";"));
                            strUseCov = listLast(listGetAt(lstCoverages, i, ";"));

                            if (structKeyExists(ARGUMENTS._qAuto, strCovName)) {
                            oVehicle.setField(strUseCov, iif(evaluate("ARGUMENTS._qAuto.#strCovName#") GT 0, DE(1), DE(0)));
                            }
                            }

                            // Loop over package information
                            for (i = 1; i <= arrayLen(ARGUMENTS._xmlPackage.XmlChildren); i = i + 1)
                            oVehicle.setField(ARGUMENTS._xmlPackage.XmlChildren[i].XmlName, ARGUMENTS._xmlPackage.XmlChildren[i].XmlText);

                            // Load data from VIN.DLL
                            /* RSRS
                            if (listFindNoCase("undefined", oVehicle.getField("vin")))
                            oVehicle.setField("vin", generateRandomVIN(
                            year = oVehicle.getField("vehicleYear"),
                            make = oVehicle.getField("make"),
                            model = oVehicle.getField("model"),
                            bodyType = oVehicle.getField("bodyType")
                            ));

                            var httpService = new http();
                            httpService.setThrowOnError(true);
                            httpService.setMethod("post");
                            httpService.setURL("http" & (cgi.server_port_secure?"s":"") & "://" & cgi.server_name & "/vin/VinService.asp");
                            httpService.addParam(type="formfield", name="method", value="getVinDetails");
                            httpService.addParam(type="formfield", name="vin", value=oVehicle.getField("vin"));
                            var prefix = httpService.send().getPrefix();
                            var VINData = deserializeJSON(toString(prefix.fileContent));

                            if(oVehicle.getField("vehicleYear") LT 2011){
                            oVehicle.setField("symbolGroup", VINData.symbolGroup);
                            } else {
                            oVehicle.setField("symbolGroup", VINData.comprehensiveSymbol);
                            }
                            */
                            oVehicle.setField("symbolGroup", 1);

                            oVehicle.setField("ratingVersionID", ARGUMENTS._qPolicy.ratingVersionID);
                            oVehicle.setField("autoID", ARGUMENTS._qAuto.autoID);
                            oVehicle.setField("garageZip", ARGUMENTS._qAuto.policyZip);
                            /* RSRS
                            oVehicle.setField("bodyType", VINData.bodyType);
                            oVehicle.setField("airbag", VINData.airbag);
                            oVehicle.setField("antiLockBrakes", VINData.antiLockBrakes);
                            if (listFindNoCase("A,D,P,T", VINData.antiTheft))
                            oVehicle.setField("antitheft", 1);
                            */
                            oVehicle.setField("airbag", 0);
                            oVehicle.setField("antiLockBrakes", 0);
                            oVehicle.setField("vehicleType", 0);
                            oVehicle.setField("antitheft", 0);

                            oVehicle.setField("policyID", ARGUMENTS._qPolicy.policyID);
                            oVehicle.create();
                        </cfscript>
                        <!--- Check CarFax --->
                        <cfquery name="cfVehicles" datasource="#SADSN#"
                                 username="#SAUsername#" password="#SAPassword#">
                            SELECT vehicleID, VIN
                            FROM Vehicle V with (NOLOCK)
                            JOIN Auto A with (NOLOCK) on A.autoID = V.autoID
                            JOIN Policy P with (NOLOCK) on P.policyID = A.policyID
                            WHERE A.policyID = #ARGUMENTS._qPolicy.policyID# and stateID in (73,67,33,56)
                        </cfquery>
                        <cfloop query="cfVehicles">
                            <!--- Only pull every 365 days --->
                            <cfquery name="checkCarFax" datasource="#SADSN#"
                                     username="#SAUsername#" password="#SAPassword#">
                                SELECT Count(*) as totalCFs
                                FROM CarFaxRequest with (NOLOCK)
                                WHERE VIN='#VIN#' and status=2 and addDate>=DateAdd(d,-365,getdate())
                            </cfquery>
                            <cfif checkcarfax.totalcfs eq 0>
                                <cfset showdebug="FALSE">
                                    <cfset manualorder="0">
                                        <cfset strpolicyid=ARGUMENTS._qPolicy.policyID>
                                            <cfset strvehicleid=vehicleID>
                                                <cfset strvin=VIN>
                                                    <cfinclude template="/exportProcess/CarFax/Logic.inc">
                            </cfif>
                        </cfloop>
                        <cfscript>
                            return oVehicle;
                        </cfscript>
    </cffunction>

    <cffunction name="importDriver" returntype="any" output="true" access="private">
        <cfargument name="_qPolicy" type="query" required="true">
            <cfargument name="_qAuto" type="query" required="true">
                <cfargument name="_xmlDriver" type="string" required="true">

                    <cfscript>
                        var oDriver = "";
                        var i = "";
                        var j = "";
                        var driverID = 0;
                        var aViolations = "";
                        var oViolation = "";

                        // Create object
                        oDriver = createObject("component", "SysObj.Driver").init(_username = getDatabaseInfo().username, _password = getDatabaseInfo().password, _dbName = getDatabaseInfo().dbName);

                        // Loop over policy data
                        for (iColumn in getImportVar().xmlPolicyData.policy) {
                        if (arrayLen(getImportVar().xmlPolicyData.policy[iColumn].XmlChildren) GT 0)
                        continue;

                        oDriver.setField(iColumn, getImportVar().xmlPolicyData.policy[iColumn].XmlText);
                        }

                        // Loop over driver data
                        for (i = 1; i <= arrayLen(ARGUMENTS._xmlDriver.XmlChildren); i = i + 1) {
                        oDriver.setField(ARGUMENTS._xmlDriver.XmlChildren[i].XmlName, ARGUMENTS._xmlDriver.XmlChildren[i].XmlText);
                        }

                        if (Not isDate(oDriver.getField("dob")) AND isNumeric(oDriver.getField("age")) AND isDate(oDriver.getField("effectiveDate"))) {
                        oDriver.setField("dob", dateFormat(dateAdd("yyyy", (-1 * oDriver.getField("age")), oDriver.getField("effectiveDate")), "m/d/yyyy"));
                        }

                        if (listFind("S,M", oDriver.getField("maritalStatus"))) {
                        switch (oDriver.getField("maritalStatus")) {
                        case "S":
                        oDriver.setField("maritalStatus", 10);
                        break;
                        case "M":
                        oDriver.setField("maritalStatus", 0);
                        break;
                        }
                        }

                        oDriver.setField("autoID", ARGUMENTS._qAuto.autoID);

                        oDriver.create();
                        if (IsDefined("ARGUMENTS._xmlDriver.violations.XmlChildren")) {
                        aViolations = ARGUMENTS._xmlDriver.violations.XmlChildren;
                        if (ArrayLen(aViolations)) {
                        driverID = oDriver.getField("driverID");
                        for (i=1;i<=ArrayLen(aViolations);i++) {
                        oViolation = CreateObject("component", "SysObj.DriverAccident").init(getDatabaseInfo().username, getDatabaseInfo().password, getDatabaseInfo().dbName);
                        // Loop over violation data
                        for (iColumn in aViolations[i]) {
                        if (arrayLen(aViolations[i][iColumn].XmlChildren) GT 0)
                        continue;

                        oViolation.setField(iColumn, aViolations[i][iColumn].XmlText);
                        }
                        oViolation.SetField("driverID", driverID);
                        oViolation.Create();
                        }
                        }
                        }

                        return oDriver;
                    </cfscript>
    </cffunction>

    <cffunction name="setDatabaseInfo" returntype="void" output="false" access="private">
        <cfargument name="_username" type="string" required="true">
            <cfargument name="_password" type="string" required="true">
                <cfargument name="_dbName" type="string" required="false" default="">

                    <cfscript>
                        VARIABLES.database.DSN = listFirst(ARGUMENTS._username, "_");
                        VARIABLES.database.username = ARGUMENTS._username;
                        VARIABLES.database.password = ARGUMENTS._password;
                        VARIABLES.database.dbName = ARGUMENTS._dbName;
                    </cfscript>
    </cffunction>

    <cffunction name="getDatabaseInfo" returntype="struct" output="false" access="private">
        <cfreturn variables.database>
    </cffunction>

    <cffunction name="setImportVar" returntype="void" output="false" access="private">
        <cfargument name="_xmlPolicyData" type="string" required="yes">

            <cfscript>
                VARIABLES.IMPORT.xmlPolicyData = xmlParse(ARGUMENTS._xmlPolicyData);
                VARIABLES.IMPORT.arrCoveragePackage = xmlSearch(VARIABLES.IMPORT.xmlPolicyData, "/policy/coveragePackages/coveragePackage");
                VARIABLES.IMPORT.arrVehicle = xmlSearch(VARIABLES.IMPORT.xmlPolicyData, "/policy/vehicles/vehicle");
                VARIABLES.IMPORT.arrDriver = xmlSearch(VARIABLES.IMPORT.xmlPolicyData, "/policy/drivers/driver");
            </cfscript>
    </cffunction>

    <cffunction name="getImportVar" returntype="struct" output="false" access="private">
        <cfreturn variables.import>
    </cffunction>

    <cffunction name="packageNew" returntype="struct" output="false" access="private">
        <cfargument name="_id" type="string" required="true">
            <cfargument name="_detail" type="any" required="true">

                <cfscript>
                    var stPackage = structNew();
                    var sKey = "";

                    for (sKey in ARGUMENTS)
                    stPackage[replace(sKey, "_", "")] = structFind(ARGUMENTS, sKey);

                    return stPackage;
                </cfscript>
    </cffunction>

    <cffunction name="generateRandomVIN" returntype="string" output="false" access="private">
        <cfargument name="year" type="numeric" required="true">
            <cfargument name="make" type="string" required="true">
                <cfargument name="model" type="string" required="true">
                    <cfargument name="bodyType" type="string" required="true">

                        <cfscript>
                            try {
                            var httpService = new http();

                            httpService.setMethod("get");
                            httpService.setURL("http" & (cgi.server_port_secure?"s":"") & "://" & cgi.server_name & "/vin/VinService.asp?method=loadVehicles&year=#arguments.year#&make=#arguments.make#&model=#arguments.model#");

                            var prefix = httpService.send().getPrefix();
                            var vehicles = deserializeJSON(toString(prefix.fileContent));

                            var i = 0;
                            var vin = "na";
                            var bodyStyle = structFind(arguments, "bodyType");

                            switch(bodyStyle) {
                            case "2-DR COUPE":
                            bodyStyle = "COUPE 2D";
                            break;
                            case "2-DR HATCH":
                            bodyStyle = "HCH2D4X2";
                            break;
                            case "4-DR SEDAN":
                            bodyStyle = "SED2D4X2";
                            break;
                            case "CONVERT":
                            bodyStyle = "CONVRTBL";
                            break;
                            case "MINI-VAN":
                            bodyStyle = "MPV";
                            break;
                            case "PICKUP LTE1":
                            bodyStyle = "PKP4X22D";
                            break;
                            case "STA WAGON":
                            bodyStyle = "WAG3D4X2";
                            break;
                            case "SUV":
                            bodyStyle = "UTILITY";
                            break;
                            case "VAN":
                            bodyStyle = "VAN";
                            break;
                            }

                            for (var vehicle in vehicles) {
                            if (len(trim(vehicle.model)) == len(trim(structFind(arguments, "model"))) &&
                            trim(vehicle.model) == trim(structFind(arguments, "model")) &&
                            trim(vehicle.bodyStyle) == trim(bodyStyle))
                            {
                            vin = vehicle.vin;
                            break;
                            }
                            }

                            return vin;
                            } catch (any e) {
                            return "na";
                            }
                        </cfscript>
    </cffunction>
    <cffunction name="generateXML" returntype="string" output="false" access="private">
        <cfscript>
            var xmlReturn = "";
            var iPkg = "";
            var iPol = "";
        </cfscript>

        <cfxml variable="xmlReturn">
            <cfoutput>
                <?xml version='1.0' encoding='utf-8' ?>
                <coveragepackages>
            </cfoutput>
            <cfloop from="1" to="#arrayLen(VARIABLES.OUTPUT.arrCoveragePackage)#" index="iPkg">
                <cfoutput>
                    <coveragepackage id="#VARIABLES.OUTPUT.arrCoveragePackage[iPkg].id#">
                </cfoutput>
                <cfloop from="1" to="#arrayLen(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy)#" index="iPol">
                    <cfoutput>
                        <policyid>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().policyID)#</policyid>
                        <policynum>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().policyNum)#</policynum>
                        <premiumtotal>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().premiumTotal)#</premiumtotal>
                        <discounts>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().discounts)#</discounts>
                        <surcharges>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().surcharges)#</surcharges>
                        <depositamount>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().depositAmount)#</depositamount>
                        <installmentamount>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().installmentAmount)#</installmentamount>
                        <installmentcount>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().installmentCount)#</installmentcount>
                        <sr22fees>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().sr22Fees)#</sr22fees>
                        <policycharge>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().policyCharge)#</policycharge>
                        <directonlineagencyfee>#xmlFormat(VARIABLES.OUTPUT.arrCoveragePackage[iPkg].detail.Policy[iPol].load().directOnlineAgencyFee)#</directonlineagencyfee>
                    </cfoutput>
                </cfloop><cfoutput>
                    </coveragePackage>
                </cfoutput>
            </cfloop><cfoutput>
                </coveragePackages>
            </cfoutput>
        </cfxml>

        <cfreturn xmlreturn>
    </cffunction>
    <!--- /PRIVATE FUNCTIONS --->
</cfcomponent>











policyNum,
insuredID,
companyID,
effectiveDate,
producerID,
policyTerm,
policyType,
stateID,
status,
paymentPlanID,
depositPercent,
installmentCount,
imported,
isDirect,
policyProgram

<cfif structkeyexists(variables.stcolumndata, "policyNum" )>'#VARIABLES.stColumnData.policyNum#'<cfelse>'TBD'</cfif>,
<cfif structkeyexists(variables.stcolumndata, "insuredID" ) and isnumeric(variables.stcolumndata.insuredid)>#VARIABLES.stColumnData.insuredID#<cfelse>1</cfif>,
<cfif structkeyexists(variables.stcolumndata, "companyID" ) and isnumeric(variables.stcolumndata.companyid)>#VARIABLES.stColumnData.companyID#<cfelse>1</cfif>,
<cfif structkeyexists(variables.stcolumndata, "effectiveDate" ) and isdate(variables.stcolumndata.effectivedate)>'#VARIABLES.stColumnData.effectiveDate#'<cfelse>'#dateFormat(now(), "m/d/yyyy")#'</cfif>,
<cfif structkeyexists(variables.stcolumndata, "producerID" ) and isnumeric(variables.stcolumndata.producerid)>#VARIABLES.stColumnData.producerID#<cfelse>1</cfif>,
<cfif structkeyexists(variables.stcolumndata, "policyTerm" ) and isnumeric(variables.stcolumndata.policyterm)>#VARIABLES.stColumnData.policyTerm#<cfelse>null</cfif>,
<cfif structkeyexists(variables.stcolumndata, "policyType" ) and isnumeric(variables.stcolumndata.policytype)>#VARIABLES.stColumnData.policyType#<cfelse>null</cfif>,
<cfif structkeyexists(variables.stcolumndata, "stateID" ) and isnumeric(variables.stcolumndata.stateid)>#VARIABLES.stColumnData.stateID#<cfelse>1</cfif>,
<cfif structkeyexists(variables.stcolumndata, "status" ) and isnumeric(variables.stcolumndata.status)>#VARIABLES.stColumnData.status#<cfelse>null</cfif>,
<cfif structkeyexists(variables.stcolumndata, "paymentPlanID" ) and isnumeric(variables.stcolumndata.paymentplanid)>#VARIABLES.stColumnData.paymentPlanID#<cfelse>1</cfif>,
<cfif structkeyexists(variables.stcolumndata, "depositPercent" ) and isnumeric(variables.stcolumndata.depositpercent)>#VARIABLES.stColumnData.depositPercent#<cfelse>100</cfif>,
<cfif structkeyexists(variables.stcolumndata, "installmentCount" ) and isnumeric(variables.stcolumndata.installmentcount)>#VARIABLES.stColumnData.installmentCount#<cfelse>0</cfif>,
<cfif structkeyexists(variables.stcolumndata, "imported" ) and isnumeric(variables.stcolumndata.imported)>#VARIABLES.stColumnData.imported#<cfelse>0</cfif>,
<cfif structkeyexists(variables.stcolumndata, "isDirect" ) and isnumeric(variables.stcolumndata.isdirect)>#VARIABLES.stColumnData.isDirect#<cfelse>0</cfif>,
<cfif structkeyexists(variables.stcolumndata, "policyProgram" ) and isnumeric(variables.stcolumndata.policyprogram)>#VARIABLES.stColumnData.policyProgram#<cfelse>0</cfif>