﻿@model MarketingAPI.Models.Coverage
@using MarketingAPI.Object
@using MarketingAPI.Helper

@helper DisplayCoverage(string coverage)
{
    if (!String.IsNullOrEmpty(coverage))
    {
        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}

@helper DisplayCoverage(TopCoverage coverage)
{
    if (!String.IsNullOrEmpty(coverage.PerAccident))
    {
        int num;
        bool isCoverage = int.TryParse(coverage.PerAccident, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage.PerAccident == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}

@helper DisplayCoverage(SubCoverage coverage)
{
    if (!String.IsNullOrEmpty(coverage.PerAccident))
    {
        int num;
        bool isCoverage = int.TryParse(coverage.PerAccident, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage.PerAccident == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}

@helper DefaultOrSelectedCoverage(List<string> coverages)
{


    if (coverages != null)
    {
        string coverage = coverages.FirstOrDefault();

        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}


@helper DefaultOrSelectedCoverage(List<SubCoverage> coverages)
{
    SubCoverage sub = coverages.FirstOrDefault();

    if (coverages != null)
    {
        string coverage = sub.PerAccident;

        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}

@helper DefaultOrSelectedCoverage(List<TopCoverage> coverages)
{
    TopCoverage top = coverages.FirstOrDefault();

    if (coverages != null)
    {
        string coverage = top.PerAccident;

        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}


<script>
    function updateCoverage(coverage, ratingVersionID) {
        //alert(coverage, ratingVersionID);
    }

    function validateCoverage(coverage) {
        //alert(coverage);
    }

    //Function ValidatePIP()
    //If document.all.PIPEachPerson.checked Then
    //If document.all.medicalEachPerson.selectedIndex > 0 Then
    //msgBox "Personal Injury Protection and Medical Payments can not both be selected. Medical Payments has been removed.", vbExclamation+vbOkOnly, "Coverage Issue"
    //document.all.medicalEachPerson.selectedIndex = 0
    //End If
    //End If
    //End Function

    //Function ValidateMedical()
    //if document.getElementById("PIPEachPerson") is Nothing then 
    //Else 
    //If document.all.medicalEachPerson.selectedIndex > 0 Then
    //If document.all.PIPEachPerson.checked Then
    //msgBox "Personal Injury Protection and Medical Payments can not both be selected.  Personal Injury Protection has been removed.", vbExclamation+vbOkOnly, "Coverage Issue"
    //document.all.PIPEachPerson.checked = 0
    //End If
    //End If
    //End If
    //End Function

    //Function ValidateCoverage_BI()
    //If IsNumeric(document.all.uninsuredBIEachPerson.value) Then
    //If clng(document.all.BIEachPerson.value) < _
    //clng(document.all.uninsuredBIEachPerson.value) Then
    //MsgBox "Uninsured Bodily Injury can not be larger then Bodily Injury"
    //document.all.uninsuredBIEachPerson.selectedindex = _
    //document.all.BIEachPerson.selectedindex+1
    //AddObjectCoverageSelection "UMBI", 36
    //End If
    //End If
    //If CheckUNBIExists() Then
    //If IsNumeric(document.all.underinsuredBIEachPerson.value) Then
    //If clng(document.all.BIEachPerson.value) < _
    //clng(document.all.underinsuredBIEachPerson.value) Then
    //MsgBox "Underinsured Bodily Injury can not be larger then Bodily Injury"
    //document.all.underinsuredBIEachPerson.selectedindex = _
    //document.all.BIEachPerson.selectedindex+1
    //AddObjectCoverageSelection "UNBI", 36
    //End If
    //End If
    //End If
    //End Function

    //Function ValidateCoverage_UMBI()
    //If IsNumeric(document.all.uninsuredBIEachPerson.value) Then
    //If clng(document.all.BIEachPerson.value) < _
    //clng(document.all.uninsuredBIEachPerson.value) Then
    //MsgBox "Uninsured Bodily Injury can not be larger then Bodily Injury"
    //document.all.BIEachPerson.selectedindex = _
    //document.all.uninsuredBIEachPerson.selectedindex-1
    //AddObjectCoverageSelection "BI", 36
    //If CheckUNBIExists() Then
    //If IsNumeric(document.all.underinsuredBIEachPerson.value) Then
    //If clng(document.all.BIEachPerson.value) < _
    //clng(document.all.underinsuredBIEachPerson.value) Then
    //document.all.underinsuredBIEachPerson.selectedindex = _
    //document.all.BIEachPerson.selectedindex+1
    //AddObjectCoverageSelection "UNBI", 36
    //End If
    //End If
    //End If
    //End If
    //End If
    //End Function

    //Function ValidateCoverage_UNBI()
    //If IsNumeric(document.all.underinsuredBIEachPerson.value) Then
    //If clng(document.all.BIEachPerson.value) < _
    //clng(document.all.underinsuredBIEachPerson.value) Then
    //MsgBox "Underinsured Bodily Injury can not be larger then Bodily Injury"
    //document.all.BIEachPerson.selectedindex = _
    //document.all.underinsuredBIEachPerson.selectedindex-1
    //AddObjectCoverageSelection "UNBI", 36
    //If IsNumeric(document.all.uninsuredBIEachPerson.value) Then
    //If clng(document.all.BIEachPerson.value) < _
    //clng(document.all.uninsuredBIEachPerson.value) Then
    //document.all.uninsuredBIEachPerson.selectedindex = _
    //document.all.BIEachPerson.selectedindex+1
    //AddObjectCoverageSelection "UMBI", 36
    //End If
    //End If
    //End If
    //End If
    //End Function
 

</script>
<script>
    $(document).ready(function () {
        $('a.edit').click(function (e) {
            e.preventDefault();
            var dad = $(this).parent().parent();
            dad.find('.selected').hide();
            dad.find('select').css('visibility', 'visible').removeClass('hidden').show().focus();
        });

        $('select').focusout(function () {
            var dad = $(this).parent();
            $(this).hide();
            dad.find('.selected').css('visibility', 'visible').show();
        });

        $('select').change(function () {
            var dad = $(this).parent();
            $(this).hide();
            dad.find('.selected').text($("option:selected", this).text()).css('visibility', 'visible').addClass('text-danger').show();
        });

        $('#purchaseCoverage').click(function (e) {
            ShowDisclaimer();
        });

        defaultCoverage();
    });

    function defaultCoverage()
    {
        if ($("#collisionDeductible option:selected").val() == "No Coverage") {
            $("#collisionDeductible").val("$500");
            $(".collisionDeductible").text("$500");
        }

        if ($("#comprehensiveDeductible option:selected").val() == "No Coverage") {
            $("#comprehensiveDeductible").val("$500");
            $(".comprehensiveDeductible").text("$500");
        }
    }

</script>
    @if (Model.BIEachPerson != null)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Bodily Injury</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.BIEachPerson)/ @DefaultOrSelectedCoverage(Model.BIEachAccident)</label>
                <select id="bi" onchange="updateCoverages('bi', @Model.RatingVersionID); validateCoverage('bi');" class="form-control hidden input-sm">
                    @for (int i = 0; i < Model.BIEachPerson.Count(); i++)
                    {
                        <option>@DisplayCoverage(Model.BIEachPerson[i])/ @DisplayCoverage(Model.BIEachAccident[i])</option>
                    }                   
                </select>
                <input type="hidden" value="" id="biEachPerson" />
                <input type="hidden" value="@DisplayCoverage(Model.BIEachAccident[0])" id="biEachAccident" />
            </div>
            <div class="col-sm-2">               
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
            </div>
        </div>
    }
  

   @if (Model.PDEachAccident != null)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Property Damage</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.PDEachAccident)</label>
                <select id="pdEachAccident" class="form-control hidden input-sm">
                    @foreach (var coverage in Model.PDEachAccident)
                    {
                        <option>@DisplayCoverage(coverage.PerAccident)</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
            </div>
        </div>
    }

    @if (Model.UninsuredBIEachPerson != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Uninsured Motorist</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">                
                <span class="small clearfix">Bodily Injury</span>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.UninsuredBIEachPerson)/ @DefaultOrSelectedCoverage(Model.UninsuredBIEachAccident)</label>
                <select id="umbi" onchange="updateCoverage('umbi', @Model.RatingVersionID); validateCoverage('umbi');" class="form-control hidden input-sm">
                    @for (int i = 0; i < Model.UninsuredBIEachPerson.Count(); i++)
                    {
                        <option>@DisplayCoverage(Model.UninsuredBIEachPerson[i])/ @DisplayCoverage(Model.UninsuredBIEachAccident[i].PerAccident)</option>
                    }
                </select>
                <input type="hidden" value="" id="umbiEachPerson" />
                <input type="hidden" value="@DisplayCoverage(Model.UninsuredBIEachAccident[0].PerAccident)" id="umbiEachAccident" />
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
            </div>
        </div>
         <div class="form-group row">
            <div class="col-sm-5">
                <span class="small">Property Damage</span>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.UninsuredPDEachAccident)</label>
                <select id="uninsuredPDEachAccident" class="form-control hidden input-sm">
                    @foreach (var coverage in Model.UninsuredPDEachAccident)
                    {
                        <option>@DisplayCoverage(coverage.PerAccident)</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>                
            </div>
        </div>
    }

    @if (Model.UnderinsuredBIEachPerson != null && Model.UnderinsuredBIEachPerson.Count > 0)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Underinsured Motorist Bodily Injury</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.UnderinsuredBIEachPerson)</label>
                <select id="umbiEachPerson" onchange="updateCoverages('unbi', @Model.RatingVersionID); validateCoverage('unbi');" class="form-control hidden input-sm">
                    @foreach (var coverage in Model.UnderinsuredBIEachPerson)
                    {
                        <option>@DisplayCoverage(coverage)</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
            </div>
        </div>

        if (Model.UnderinsuredBIEachAccident != null)
        {
            <div class="form-group row">
                <div class="col-sm-5">
                    <label class="control-label">Underinsured Motorist Bodily Injury</label>
                </div>
                <div class="col-sm-5">
                    <label class="control-label selected">@DefaultOrSelectedCoverage(Model.UnderinsuredBIEachAccident)</label>
                </div>
                <div class="col-sm-2">
                    <input type="hidden" value="@DefaultOrSelectedCoverage(Model.UnderinsuredBIEachAccident)" id="umbiEachAccident" />
                </div>
            </div>
        }

        if (Model.UnderinsuredPDEachAccident != null)
        {
            <div class="form-group row">
                <div class="col-sm-5">
                    <label class="control-label">Underinsured Motorist Property Damage</label>
                </div>
                <div class="col-sm-5">
                    <label class="control-label selected">@DefaultOrSelectedCoverage(Model.UnderinsuredPDEachAccident)</label>
                    <select id="underinsuredPDEachAccident" class="form-control hidden input-sm">
                        @foreach (var coverage in Model.UnderinsuredPDEachAccident)
                        {
                            <option>@DisplayCoverage(coverage.PerAccident)</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>                     
                </div>
            </div>
        }
    }

    @if (Model.MedicalEachPerson != null)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Medical Payments</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.MedicalEachPerson)</label>
                <select id="medicalEachPerson" onclick="validateMedical();" class="form-control hidden input-sm">
                    @foreach (var coverage in Model.MedicalEachPerson)
                    {
                        <option>@DisplayCoverage(coverage)</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>               
            </div>
        </div>
    }

    @if (Model.PIPLimit != null && Model.PIPLimit.Count > 0)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">PIP Limit</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.BIEachPerson)</label>
                @if (Model.PIPLimit.First() == "No Coverage" && Model.PIPLimit.Last() == "1")
                {
                    <input type="checkbox" value="" id="pipEachPerson" />
                }
                else
                {
                    <select id="pipEachPerson" class="form-control hidden input-sm">
                        @foreach (var coverage in Model.PIPLimit)
                        {
                            <option>@DisplayCoverage(coverage)</option>
                        }
                    </select>
                }
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                   
            </div>
        </div>
    }

    @if (Model.AccidentalDeathEachPerson != null && Model.AccidentalDeathEachPerson.Count > 0)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Accidental Death Each Person</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.AccidentalDeathEachPerson)</label>
                @if (Model.AccidentalDeathEachPerson.First() == "No Coverage" && Model.AccidentalDeathEachPerson.Last() == "1")
                {
                    <input type="checkbox" value="" id="accidentDeathEachPerson" />
                }
                else
                {
                    <select id="accidentDeathEachPerson" class="form-control hidden input-sm">
                        @foreach (var coverage in Model.AccidentalDeathEachPerson)
                        {
                            <option>@DisplayCoverage(coverage)</option>
                        }
                    </select>
                }
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
               
            </div>
        </div>
    }

    @if (Model.WorkLossEachPerson != null && Model.WorkLossEachPerson.Count > 0)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">WorkLoss Each Person</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected">@DefaultOrSelectedCoverage(Model.BIEachPerson)</label>
                @if (Model.WorkLossEachPerson.First() == "No Coverage" && Model.WorkLossEachPerson.Last() == "1")
                {
                    <input type="checkbox" value="" id="workLossEachPerson" />
                }
                else
                {
                    <select id="workLossEachPerson" class="form-control hidden input-sm">
                        @foreach (var coverage in Model.WorkLossEachPerson)
                        {
                            <option>@DisplayCoverage(coverage)</option>
                        }
                    </select>
                }
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
              
            </div>
        </div>
    }

    @if (Model.ComprehensiveDeductible != null && Model.ComprehensiveDeductible.Count > 0)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Comprehensive Deductible</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected comprehensiveDeductible">@DefaultOrSelectedCoverage(Model.ComprehensiveDeductible)</label>
                <select id="comprehensiveDeductible" class="form-control hidden input-sm">
                    @foreach (var coverage in Model.ComprehensiveDeductible)
                    {
                        <option>@DisplayCoverage(coverage)</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>                
            </div>
        </div>
    }

    @if (Model.CollisionDeductible != null && Model.CollisionDeductible.Count > 0)
    {
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="control-label">Collision Deductible</label>
            </div>
            <div class="col-sm-5">
                <label class="control-label selected collisionDeductible">@DefaultOrSelectedCoverage(Model.CollisionDeductible)</label>
                <select id="collisionDeductible" class="form-control hidden input-sm">
                    @foreach (var coverage in Model.CollisionDeductible)
                    {
                        <option>@DisplayCoverage(coverage)</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
               
            </div>
        </div>
    }
    
    <div class="form-group row">
        <div class="col-sm-5">
            <label class="control-label">24-Hour Towing and Roadside Assistance</label>
        </div>
        <div class="col-sm-5">
            <label class="control-label selected">No Plan Selected</label>
            <select name="NSDPlan" class="form-control hidden input-sm">
                <option value="0">No Plan Selected</option>
                <option value="1">Silver Plan - 15 Miles - $8/month</option>
                <option value="2">Gold Plan - 20 Miles - $9/month (recommended)</option>
                <option value="3">Platinum Plan - 35 Miles - $10/month</option>
            </select>
        </div>
        <div class="col-sm-2">
            <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>            
        </div>
    </div>