﻿@model MarketingAPI.Models.ESignature


<style>
#objSigName, #objSigInitials {
    width: 250px;
    border: 1px solid #ccc;
    background: #fff;
    color: black;
    padding: 3px;
    height: 30px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    text-transform: uppercase;
}
</style>
<script>
    $(document).ready(function () {
        $('#signatureName').focus();

        $('#signatureName').bind('change keyup blur', function () {
            UpdateDisplay('objSigName', $(this).val());
        });

        $('#signatureInitials').bind('change keyup blur', function () {
            UpdateDisplay('objSigInitials', $(this).val());
        });

        $('#submit').bind('click', function () {
            SubmitForm();
        });

        $('.drivers').bind('click', function () {
            var grandDad = $(this).parent().parent();
            grandDad.find('.checkbox').css('visibility', 'visible').removeClass('hidden').show().focus();            
            grandDad.find('.checkbox').find('span').text($(this).next().text());
        });

        $("table").delegate("input:text", "keyup", function () {
            var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var oldValue = $.trim($(this).val());
            var newValue = "";

            for (var i = 0; i < oldValue.length; i++) {
                if (alphabet.indexOf(oldValue.charAt(i).toUpperCase()) !== -1) {
                    newValue += oldValue.charAt(i).toUpperCase();
                } else {
                    newValue += oldValue.charAt(i);
                }
            }

            if (oldValue !== newValue) {
                $(this).val(newValue);
            }
        });

    });

    function ESignaturePDF() {
        if(CheckFields()){

            //url = "http://consumerdirect.jupiterautoins.net/api/eSignature";
            url = "http://localhost:3547/api/eSignature";

            var params = { 'action': 'document', 'name': $('input[name=driver]:checked').val(), 'initials': $('#signatureInitials').val(), 'dateTime': '05/26/2014 05:32 pm', 'docPos': '1', 'policyID': sessionStorage.getItem("PolicyId") };
            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                timeout: 10000,
                crossDomain: true,
                headers: { 'Access-Control-Allow-Origin': '*.*' },
                data: JSON.stringify(params),
                success: function (response) {
                    console.log(response);
                    $("#divResultContainer").html(response);
                }
            });
        }
    }

    function UpdateDisplay(strObj, strValue) {
        document.getElementById(strObj).innerHTML = strValue + '&nbsp;';
    }

    function CheckFields() {
        var allowSign = true;
        if ($('#signatureName').val() == "") {
            alert('You must provide a signature name');
            allowSign = false;
        }
        if ($('#signatureInitials').val() == "") {
            alert('You must provide signature initials');
            allowSign = false;
        }
        if ($('#securityAnswer1').val() == "") {
            alert('You must provide an answer for security question 1');
            allowSign = false;
        }
        if ($('#securityAnswer2').val() == "") {
            alert('You must provide an answer for security question 2');
            allowSign = false;
        }
        if (!$('#disclaimer').is(":checked")) {
            alert('You must choose your name from the driver list and certify who you are');
            allowSign = false;
        }

        return allowSign;
    }

    function SubmitForm() {
        if (CheckFields()) {
            $('#sigForm').submit();
        }
    }

    function CancelEsig() {
        var cancel = confirm("Your signature is required to complete the issuance of your policy." + "\n" + "If signatures and payment are not obtained" +
		" your policy will not be" + "\n" + "activated." + "Contact your agent if you have any questions:" + "\n\n\n" +
		"#loadProducer.BranchName#" + "\n" +
		"#loadProducer.Phone#" + "\n" +
		"#loadProducer.Fax#" + "\n\n\n");
        if (cancel == true)
        {
            window.close();
        }
        else
        {
            return false;
        }
    }
</script>
<style>

    .apiSectionHeader {
        background: #2A8CBE;
        height:24px;
        font-size: 12px;
        text-transform: uppercase;
        padding: 6px;
        color: #fff;
        letter-spacing: 1px;
    }
</style>
<div class="pnlPartial" style="padding:20px;">
    <div class="sectionHeader">Electronic Signature Capture (Insured)</div>
    <div class="pull-left" style="width: 40%; padding-right: 30px;">
        <h3 class="apiSectionHeader">Insured Signature</h3>
        <div class="form-group">
            <input type="text" id="signatureName" placeholder="Signature Display" class="form-control convertToUpper" />
            <label for="signatureName" class="help-block">(Name as you sign a legal document)</label>

            <input type="text" id="signatureInitials" placeholder="Initials" class="form-control convertToUpper" />
        </div>
        <div>
            <label>
                Today's Date/ Time - @String.Format("{0: MMMM d, yyyy} {0:t}", DateTime.Now)
            </label>
        </div>
        <div class="form-group">
            <select id="signatureQuestion1" class="form-control">
                <option value="">Security Question #1</option>
                @foreach (var question in Model.SecurityQuestion1)
                {
                    <option value="@question.ID">@question.Question</option>
                }
            </select><br />
            <input type="password" id="signatureAnswer1" placeholder="Answer" class="form-control" />
        </div>
        <div class="form-group">
            <select id="signatureQuestion2" class="form-control">
                <option value="">Security Question #2</option>
                @foreach (var question in Model.SecurityQuestion2)
                {
                    <option>@question.Question</option>
                }
            </select><br />
            <input type="password" id="signatureAnswer2" placeholder="Answer" class="form-control" />
        </div>
    </div>
    <div class="pull-right" style="width: 40%">
        <h3 class="apiSectionHeader">Signature Sample</h3>
        <div class="form-group convertToUpper" id="objSigName">

        </div>
        <div class="form-group convertToUpper" id="objSigInitials">

        </div>
        <div>Who is signing documents?</div>
        <div class="radio">
            @foreach (var driver in Model.Drivers)
            {
                <input type="radio" class="drivers" id="driver" name="driver" value="@driver.FirstName @driver.LastName" /> <span style="text-transform: uppercase;">@driver.FirstName @driver.LastName</span><br />
            }
           
        </div>
        <div class="checkbox hidden">
            <input type="checkbox" id="disclaimer" value="1" />  I certify that I am <span style="text-transform: uppercase;"></span>
        </div>
    </div>
    <div style="clear: both;">
        <strong>Documents to sign:</strong>
        <ol>
            <li>Automobile Application</li>
        </ol>
    </div>
    <div class="buttonContainer">
        <input type="button" value="Cancel" class="buttonContinue" onclick="CancelEsig()">
        <input type="button" value="Sign Document" class="buttonContinue" onclick="ESignaturePDF()">
    </div>
</div>
