﻿@model MarketingAPI.Models.ESignaturePDF

<style>
    .scroll-container {
        /*border:solid 2px yellow;*/
        height: 300px;
        width: 100%;
        overflow: scroll;
    }

    .scroll-ios {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .object-big {
        display: inline-block;
        width: 100%;
        height: 6000px;
    }
</style>
<script>
    var pageInitScript = function () {
        $('#submitButton').bind('click', function () {
            pleaseWait();
            $('[name=eSignDocumentForm]').submit();
        });
    };

    var Environment = {
        //mobile or desktop compatible event name, to be used with '.on' function
        TOUCH_DOWN_EVENT_NAME: 'mousedown touchstart',
        TOUCH_UP_EVENT_NAME: 'mouseup touchend',
        TOUCH_MOVE_EVENT_NAME: 'mousemove touchmove',
        TOUCH_DOUBLE_TAB_EVENT_NAME: 'dblclick dbltap',

        isAndroid: function () {
            return navigator.userAgent.match(/Android/i);
        },
        isBlackBerry: function () {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        isIOS: function () {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        isOpera: function () {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        isWindows: function () {
            return navigator.userAgent.match(/IEMobile/i);
        },
        isiPhone: function () {
            return navigator.userAgent.match(/iPhone/i);
        },
        isMobile: function () {
            return (Environment.isAndroid() || Environment.isBlackBerry() || Environment.isIOS() || Environment.isOpera() || Environment.isWindows());
        }
    };
    $(function () {
        if (Environment.isMobile()) {
            if (Environment.isiPhone()) {
                $("#signaturePDF").remove();
                $("#signatureHtml").remove();
                $("#signatureObject").show();
                $("#signatureLink").show();
            } else {
                $("#signaturePDF").remove();
                $("#signatureHtml").show();
                $("#signatureHtml").attr("src", "@Raw(Model.HtmlUrl)");                
                $("#signatureObject").remove();
                $("#signatureLink").show();
            }
        } else {
            $("#signaturePDF").show();
            $("#signaturePDF").attr("src", "@Raw(Model.HtmlUrl)");
            $("#signatureHtml").remove();
            $("#signatureObject").remove();
            $("#signatureLink").remove();
            $("#sigObj").remove();
        }
    });

    function Payment() {
        if ($('input:radio:checked').length > 0) {
            //url = "http://consumerdirect.jupiterautoins.net/api/eSignature";
            url = "http://localhost:3547/api/eSignature";

            var params = { 'action': 'payment' };
            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                timeout: 10000,
                crossDomain: true,
                headers: { 'Access-Control-Allow-Origin': '*.*' },
                data: JSON.stringify(params),
                success: function (response) {
                    console.log(response);
                    $("#divResultContainer").html(response);
                }
            });
        }
        else
        {
           alert("You must agree to the terms.")
        }
    }
</script>
<style>
    .apiSectionHeader {
        background: #2A8CBE;
        height: 24px;
        font-size: 12px;
        text-transform: uppercase;  
        padding: 6px;
        color: #fff;
        letter-spacing: 1px;
    }
</style>

<div class="pnlPartial" style="padding:20px;">
    <div class="sectionHeader">Electronic Signature Capture (Insured)</div>
    <div>Sign Your Policy Docments</div>

    <iframe src="" width="100%" height="300" id="signatureHtml">

    </iframe>
   
    <iframe src="" width="100%" height="300" id="signaturePDF">

    </iframe>

    <div class="scroll-container scroll-ios" id="signatureObject">
        @*object class="object-big" id="sigObj" type="text/html" data="">No Object?</object>*@
        <object class="object-big" id="sigObj" type="text/html" data="@Raw(Model.HtmlUrl)">No Object?</object>
    </div>

    <a href="@Raw(Model.PdfUrl)" target="_blank" id="signatureLink" style="font-size: 8px;">Click here to open eSignature PDF in new window</a>

    <form name="eSignDocumentForm" action="eSignDocument_action.cfm">
        <div style="border:1px solid #ccc; padding:10px; margin-top:10px;-webkit-border-radius: 6px; -moz-border-radius: 6px;">
            <img src="/images/icons/esigCheck.png" align="left" style="margin-right:15px;" />
            I agree to the terms of the document above and those stated on the disclaimer on the previous page. I have reviewed the document for my initials (@Model.Initials)
            and signature (@Model.Name) and understand by clicking 'Sign Document' I am electronically signing the document as indicated.<br />

            <p class="small">
                Any attempt to alter this screen or the disclaimer on the previous page will not be accepted.  Once you
                electronically sign your documents, the documents will be processed and securely stored along with your electronic signature.
            </p>
        </div>
        <br />
        <div class="fieldGroup">
            <div class="fieldContainer">
                <div class="fieldValue" id="iAgree">
                    <div class="btn-group  btn50" data-toggle="buttons">
                        <label class="btn btn-default"><input type="radio" name="iAgreeBtn" value="1">I Agree</label>
                        <label class="btn btn-default active"><input type="radio" name="iAgreeBtn" value="0">I Do Not Agree</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <input type="button" value="Sign Document" class="buttonContinue" onclick="Payment()">
        </div>

        <input type="hidden" name="docPos" value="@Model.DocPos">
        <input type="hidden" name="templateName" value="#ListGetAt(eSignature.listSignatures,'@Model.DocPos')#">
    </form>
</div>



