﻿@model MarketingAPI.Models.PaymentProcess
<div class="pnlPartial" style="padding:20px;">
    <form id="paymentProcess" action="@Model.CyberSourceEndPoint" method="POST">
        @{
            IDictionary<string, string> parameters = new Dictionary<string, string>();
            string value;
            foreach (dynamic field in @Model.FormField)
            {
                if (@field.Key == "signed_date_time")
                {
                    DateTime dt = Convert.ToDateTime(@field.Value);
                    value = @dt.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'");
                }
                else
                {
                    value = @field.Value;
                }
                <input type="hidden" id="@field.Key" name="@field.Key" value="@value" />
                parameters.Add(@field.Key.ToString(), @value.ToString());
            }

            <input type="hidden" id="signature" name="signature" value="@MarketingAPI.Helper.CyberSourceSecurity.Security.Sign(parameters, @Model.CyberSource.SecretKey)" />
        }
    </form>
    <script>
        document.getElementById("paymentProcess").submit();
    </script>
    <h3>Processing information. You will be redirected to the payment page. </h3>
</div>
