﻿@model MarketingAPI.Models.Quote
@using MarketingAPI.Object
@using MarketingAPI.Helper

@helper DisplayCoverage(string coverage)
{
    if (!String.IsNullOrEmpty(coverage))
    {
        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}

@helper DefaultOrSelectedCoverage(List<string> coverages) 
{
    
    
    if (coverages != null)
    {
        string coverage = coverages.FirstOrDefault();
        
        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}

@helper DefaultOrSelectedCoverage(List<SubCoverage> coverages)
{
    SubCoverage sub = coverages.FirstOrDefault();

    if (coverages != null)
    {
        string coverage = sub.PerAccident;

        int num;
        bool isCoverage = int.TryParse(coverage, out num);

        if (isCoverage)
        {
            if (num == 0)
            {
                @String.Format("No Coverage");
            }
            else
            {
                @String.Format("{0:c0}", num);
            }
        }
        else
        {
            if (@coverage == "0")
            {
                @String.Format("No Coverage");
            }
            else
            {
                @coverage;
            }
        }
    }
}


@helper Age(DateTime dob) 
{ 
    DateTime now = DateTime.Today;
    int age = now.Year - dob.Year;
    if (now < dob.AddYears(age)) {
        age = age - 1;
    }
    
    @age.ToString();
}

<style>

    .apiSectionHeader {
        background: #2A8CBE;
        height:24px;
        font-size: 12px;
        text-transform: uppercase;
        padding: 6px;
        color: #fff;
        letter-spacing: 1px;
    }

    #apiCongratulations {
        color: #2A8CBE;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
    }

    #apiZipCityState {
        font-weight: bold;
    }

    #apiPerMonth {
        background: #2A8CBE;
        padding: 15px;
        height: 125px;
    }

    #apiPurchase {
        background: #F0EEEF;
        padding: 25px;
        height: 125px;
    }

    #apiQuoteReview {
        color: #2A8CBE;
        font-size: 18px;
        text-transform: uppercase;
    }


    #perMonth {
        font-weight: bold;
        font-size: 26px;
        color: #fff;
    }


    #purchaseCoverage {
        margin-top: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $('a.edit').click(function (e) {
            e.preventDefault();
            var dad = $(this).parent();
            dad.find('.selected').hide();
            dad.find('select').css('visibility', 'visible').removeClass('hidden').show().focus();
        });

        $('select').focusout(function () {
            var dad = $(this).parent();
            $(this).hide();
            dad.find('.selected').css('visibility', 'visible').show();
        });

        $('select').change(function () {
            var dad = $(this).parent();
            $(this).hide();
            dad.find('.selected').text($("option:selected", this).text()).css('visibility', 'visible').addClass('text-danger').show();
        });

        $('#purchaseCoverage').click(function (e) {
            ShowDisclaimer();
        });
    });
</script>
<div class="pnlPartial" style="padding:20px;">
    <div id="apiCongratulations" class="pull-left" style="width:80%;">Congratulations! Here is your six (6) month quote:</div>
    <div class="pull-right" id="apiZipCityState">@Model.ZipCode @Model.MainLocationCityState</div>
    <div style="clear: both;"></div>
    <div style="height: 100px;">
        <div class="pull-left" id="apiPerMonth" style="width:75%">
            <div class="pull-left" style="width:25%;">
                <label id="perMonth">@Model.PerMonth</label> <em style="color: #fff;">per month</em>
                <button type="button" class="btn btn-default active" data-toggle="modal"><strong>Save my Quote<br /> for later</strong></button>
              
            </div>
            <div class="pull-left" style="vertical-align: middle; height: 100%;">
                <span style="color: #fff;">Get started with<br /> <strong>@Model.DownPayment</strong> down payment or a<br /> one time payment of <strong>@Model.OneTimePayment</strong></span>
            </div>
        </div>
        <div class="pull-right text-center" style="width:25%" id="apiPurchase">
            <strong>Like what you see?</strong>
            <div class="control-group">
                <button type="button" class="btn btn-danger active" id="purchaseCoverage">Purchase Coverage <br /> Today</button>
            </div>
    </div>
    <div style="clear: both; background: #fff;"><br /></div>
    <div style="clear: both; background: #F0EEEF; padding: 10px; margin: 10px 0 0 0;">
        <div id="apiQuoteReview">Review &amp; edit your quote:</div>
        <div class="pull-left" style="width: 48%">
            <h3 class="apiSectionHeader">Drivers</h3>
            <div>
                @foreach (var driver in Model.Drivers)
                {
                    <div>
                        @driver.FirstName @driver.LastName, @EnumUtility.GetDescriptionFromValue(@driver.IsMarried, typeof(IsMarried))  @driver.Gender. age @Age(driver.DOB)
                    </div>
                }
            </div>
            <h3 id="apiSectionHeader">Vehicles</h3>
            <div>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <div>
                        @vehicle.Year @vehicle.Make @vehicle.Model @vehicle.Style, @EnumUtility.GetDescriptionFromValue(@vehicle.IsFullCoverage, typeof(IsFullCoverage)) <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                    </div>
                }
            </div>
        </div>
        <div class="pull-right" style="width: 48%">
            <h3 class="apiSectionHeader">Coverages</h3>
            <div>
                @if (Model.Coverage.BIEachPerson != null)
                {
                    <div class="form-group">
                        <label class="control-label">Bodily Injury - Each Person</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.BIEachPerson)</label>

                        <select id="biEachPerson" onchange="updateCoverages('bi', @Model.Coverage.RatingVersionID); validateCoverage('bi');" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.BIEachPerson)
                            {
                                <option>@DisplayCoverage(coverage)</option>
                            }
                        </select>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                    </div>
                }

                @if (Model.Coverage.BIEachAccident != null)
                {
                    <div class="form-group">
                        <label class="control-label">Bodily Injury - Each Accident</label>
                        <label class="control-label selected">@DisplayCoverage(Model.Coverage.BIEachAccident)</label>
                        <input type="hidden" value="@DisplayCoverage(Model.Coverage.BIEachAccident)" id="biEachAccident" />
                    </div>
                }

                @if (Model.Coverage.PDEachAccident != null)
                {
                    <div class="form-group">
                        <label class="control-label">Propert Damage Liability</label>
                        <label class="control-label">@DefaultOrSelectedCoverage(Model.Coverage.PDEachAccident)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="pdEachAccident" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.PDEachAccident)
                            {
                                <option>@DisplayCoverage(coverage.PerAccident)</option>
                            }
                        </select>
                    </div>
                }

                @if (Model.Coverage.UninsuredBIEachPerson != null)
                {
                    <div class="form-group">
                        <label class="control-label">Uninsured Motorist Bodily Injury - Each Person</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.UninsuredBIEachPerson)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="umbiEachPerson" onchange="updateCoverage('umbi', @Model.Coverage.RatingVersionID); validateCoverage('umbi');" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.UninsuredBIEachPerson)
                            {
                                <option>@DisplayCoverage(coverage)</option>
                            }
                        </select>
                    </div>
                }

                @if (Model.Coverage.UnderinsuredBIEachAccident != null)
                {
                    <div class="form-group">
                        <label class="control-label">Uninsured Motorist Bodily Injury - Each Accident</label>
                        <label class="control-label selected">@DisplayCoverage(Model.Coverage.UninsuredBIEachAccident)</label>
                        <input type="hidden" value="@DisplayCoverage(Model.Coverage.UninsuredBIEachAccident)" id="umbiEachAccident" />
                    </div>
                }

                @if (Model.Coverage.UninsuredPDEachAccident != null)
                {
                    <div class="form-group">
                        <label class="control-label">Uninsured Motorist Property Damage</label>
                        <label class="control-label">@DefaultOrSelectedCoverage(Model.Coverage.UninsuredPDEachAccident)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="uninsuredPDEachAccident" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.UninsuredPDEachAccident)
                            {
                                <option>@DisplayCoverage(coverage.PerAccident)</option>
                            }
                        </select>
                    </div>
                }

                @if (Model.Coverage.UnderinsuredBIEachPerson != null && Model.Coverage.UnderinsuredBIEachPerson.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">Underinsured Motorist Bodily Injury - Each Person</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.UnderinsuredBIEachPerson)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="umbiEachPerson" onchange="updateCoverages('unbi', @Model.Coverage.RatingVersionID); validateCoverage('unbi');" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.UnderinsuredBIEachPerson)
                            {
                                <option>@DisplayCoverage(coverage)</option>
                            }
                        </select>
                    </div>

                    if (Model.Coverage.UnderinsuredBIEachAccident != null)
                    {
                        <div class="form-group">
                            <label class="control-label">Underinsured Motorist Bodily Injury - Each Accident</label>
                            <label class="control-label selected">@DisplayCoverage(Model.Coverage.UnderinsuredBIEachAccident)</label>
                            <input type="hidden" value="@DisplayCoverage(Model.Coverage.UnderinsuredBIEachAccident)" id="umbiEachAccident" />
                        </div>
                    }

                    if (Model.Coverage.UnderinsuredPDEachAccident != null)
                    {
                        <div class="form-group">
                            <label class="control-label">Underinsured Motorist Property Damage</label>
                            <label class="control-label">@DefaultOrSelectedCoverage(Model.Coverage.UnderinsuredPDEachAccident)</label>
                            <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                            <select id="underinsuredPDEachAccident" class="form-control hidden">
                                @foreach (var coverage in Model.Coverage.UnderinsuredPDEachAccident)
                                {
                                    <option>@DisplayCoverage(coverage.PerAccident)</option>
                                }
                            </select>
                        </div>
                    }
                }

                @if (Model.Coverage.MedicalEachPerson != null)
                {
                    <div class="form-group">
                        <label class="control-label">Medical - Each Person</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.MedicalEachPerson)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="medicalEachPerson" onclick="validateMedical();" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.MedicalEachPerson)
                            {
                                <option>@DisplayCoverage(coverage)</option>
                            }
                        </select>
                    </div>
                }

                @if (Model.Coverage.PIPLimit != null && Model.Coverage.PIPLimit.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">PIP Limit</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.BIEachPerson)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        @if (Model.Coverage.PIPLimit.First() == "No Coverage" && Model.Coverage.PIPLimit.Last() == "1")
                        {
                            <input type="checkbox" value="" id="pipEachPerson" />
                        }
                        else
                        {
                            <select id="pipEachPerson" class="form-control hidden">
                                @foreach (var coverage in Model.Coverage.PIPLimit)
                                {
                                    <option>@DisplayCoverage(coverage)</option>
                                }
                            </select>
                        }
                    </div>
                }

                @if (Model.Coverage.AccidentalDeathEachPerson != null && Model.Coverage.AccidentalDeathEachPerson.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">Accidental Death Each Person</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.AccidentalDeathEachPerson)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        @if (Model.Coverage.AccidentalDeathEachPerson.First() == "No Coverage" && Model.Coverage.AccidentalDeathEachPerson.Last() == "1")
                        {
                            <input type="checkbox" value="" id="accidentDeathEachPerson" />
                        }
                        else
                        {
                            <select id="accidentDeathEachPerson" class="form-control hidden">
                                @foreach (var coverage in Model.Coverage.AccidentalDeathEachPerson)
                                {
                                    <option>@DisplayCoverage(coverage)</option>
                                }
                            </select>
                        }
                    </div>
                }

                @if (Model.Coverage.WorkLossEachPerson != null && Model.Coverage.WorkLossEachPerson.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">WorkLoss Each Person</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.BIEachPerson)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        @if (Model.Coverage.WorkLossEachPerson.First() == "No Coverage" && Model.Coverage.WorkLossEachPerson.Last() == "1")
                        {
                            <input type="checkbox" value="" id="workLossEachPerson" />
                        }
                        else
                        {
                            <select id="workLossEachPerson" class="form-control hidden">
                                @foreach (var coverage in Model.Coverage.WorkLossEachPerson)
                                {
                                    <option>@DisplayCoverage(coverage)</option>
                                }
                            </select>
                        }
                    </div>
                }

                @if (Model.Coverage.ComprehensiveDeductible != null && Model.Coverage.ComprehensiveDeductible.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">Comprehensive Deductible</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.ComprehensiveDeductible)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="comprehensiveDeductible" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.ComprehensiveDeductible)
                            {
                                <option>@DisplayCoverage(coverage)</option>
                            }
                        </select>
                    </div>
                }

                @if (Model.Coverage.CollisionDeductible != null && Model.Coverage.CollisionDeductible.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">Collision Deductible</label>
                        <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.CollisionDeductible)</label>
                        <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                        <select id="collisionDeductible" class="form-control hidden">
                            @foreach (var coverage in Model.Coverage.CollisionDeductible)
                            {
                                <option>@DisplayCoverage(coverage)</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <label class="control-label">24-Hour Towing and Roadside Assistance</label>
                    <label class="control-label selected">@DefaultOrSelectedCoverage(Model.Coverage.BIEachPerson)</label>
                    <a href="#" class="edit"><img src="/images/pencil.png" alt="Edit"></a>
                    <select name="NSDPlan" class="form-control hidden">
                        <option value="0">No Plan Selected</option>
                        <option value="1">Silver Plan - 15 Miles - $8/month</option>
                        <option value="2">Gold Plan - 20 Miles - $9/month (recommended)</option>
                        <option value="3">Platinum Plan - 35 Miles - $10/month</option>
                    </select>
                </div>

            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>